@{
    ViewData["Title"] = "Home Page";
}

<div class="welcome-text">WELCOME!</div>
<div class="content-buttons">
    <div onclick="location.href='@Url.Action("Index", "Order")'">
        <img src="~/Content/ring.png" alt="Order Icon" />
        Make an Order
    </div>
    <div onclick="location.href='@Url.Action("Index", "Reservation")'">
        <img src="~/Content/reservation.png" alt="Reservation Icon" />
        Make a Reservation
    </div>
</div>
